# Week 9 Handin

## Ex 1
`Data = 'https://think.cs.vt.edu/corgis/datasets/csv/cars/cars.csv'`
### Download the data

- Programatically download the data from the above link.
- Import the data into a Pandas dataframe.
- Show the head of the Pandas dataframe.

### Feature engineering
- Reduce the dataset by:
  - Make == Honda
  - Fueltype == Gasoline
  - Remove outliers. Hint: `df[column name'] < df['column name'].quantile(0.90)`
  - Only use 2 features: 'Fuel Information.Highway mpg' and 'Engine Information.Engine Statistics.Horsepower'
  - Normalize data (reduce values to be between 0 and 1)
  
### Linear regression

- Perform linear regression where x = horsepower and y = mpg
- What is the coefficient (slope) of your model? What does this number mean?
- According to your model, what is `y` when `x=1`.
- Show the regression line on a scatterplot with the other datapoints.

# Status
not at all done

# Solution

In [22]:
#imports
import pandas as pd
from sklearn.preprocessing import StandardScaler, normalize, scale
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from scipy import stats

In [2]:
# Download the data
link = 'https://think.cs.vt.edu/corgis/datasets/csv/cars/cars.csv'
data = pd.read_csv(link)
data.head()

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Driveline,Engine Information.Engine Type,Engine Information.Hybrid,Engine Information.Number of Forward Gears,Engine Information.Transmission,Fuel Information.City mpg,Fuel Information.Fuel Type,Fuel Information.Highway mpg,Identification.Classification,Identification.ID,Identification.Make,Identification.Model Year,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
0,140,143,202,All-wheel drive,Audi 3.2L 6 cylinder 250hp 236ft-lbs,True,6,6 Speed Automatic Select Shift,18,Gasoline,25,Automatic transmission,2009 Audi A3 3.2,Audi,2009 Audi A3,2009,250,236
1,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,22,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,2009,200,207
2,140,143,202,Front-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Manual,21,Gasoline,30,Manual transmission,2009 Audi A3 2.0 T,Audi,2009 Audi A3,2009,200,207
3,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207
4,140,143,202,All-wheel drive,Audi 2.0L 4 cylinder 200 hp 207 ft-lbs Turbo,True,6,6 Speed Automatic Select Shift,21,Gasoline,28,Automatic transmission,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,2009,200,207

In [3]:
# Download the data
list(data.columns.values)

['Dimensions.Height',
 'Dimensions.Length',
 'Dimensions.Width',
 'Engine Information.Driveline',
 'Engine Information.Engine Type',
 'Engine Information.Hybrid',
 'Engine Information.Number of Forward Gears',
 'Engine Information.Transmission',
 'Fuel Information.City mpg',
 'Fuel Information.Fuel Type',
 'Fuel Information.Highway mpg',
 'Identification.Classification',
 'Identification.ID',
 'Identification.Make',
 'Identification.Model Year',
 'Identification.Year',
 'Engine Information.Engine Statistics.Horsepower',
 'Engine Information.Engine Statistics.Torque']

In [4]:
# Feature engineering
df = data[(data[:]['Identification.Make'].str.contains('Honda')) & data[:]['Fuel Information.Fuel Type'].str.contains('Gasoline')].select_dtypes('number')
df

,Dimensions.Height,Dimensions.Length,Dimensions.Width,Engine Information.Number of Forward Gears,Fuel Information.City mpg,Fuel Information.Highway mpg,Identification.Year,Engine Information.Engine Statistics.Horsepower,Engine Information.Engine Statistics.Torque
101,152,240,57,6,17,25,2010,271,251
102,152,240,57,5,21,31,2010,190,162
103,152,240,57,5,22,31,2010,190,162
104,152,240,57,5,21,31,2010,190,162
105,152,240,57,5,19,28,2010,271,251
...,...,...,...,...,...,...,...,...,...
5067,3,253,201,5,18,25,2012,250,253
5068,3,253,201,5,17,24,2012,250,253
5069,3,253,201,5,18,25,2012,250,253
5070,3,253,201,5,17,24,2012,250,253
5071,13,253,201,5,18,25,2012,250,253

In [17]:
#mpg1 = df[df['Fuel Information.Highway mpg'] < df['Fuel Information.Highway mpg'].quantile(0.90) < df['Fuel Information.Highway mpg']]
newdf = df.loc[:, ['Fuel Information.Highway mpg', 'Engine Information.Engine Statistics.Horsepower']]

mpgoutliers = newdf[newdf['Fuel Information.Highway mpg'] < newdf['Fuel Information.Highway mpg'].quantile(0.90)]
mpg199 = mpgoutliers[mpgoutliers['Engine Information.Engine Statistics.Horsepower'] < mpgoutliers['Engine Information.Engine Statistics.Horsepower'].quantile(0.90)]


#mpgoutliers1 = mpg199[mpg199['Fuel Information.Highway mpg'] < mpg199['Fuel Information.Highway mpg'].quantile(0.90)]
#mpg1991 = mpgoutliers1[mpgoutliers1['Engine Information.Engine Statistics.Horsepower'] < mpgoutliers1['Engine Information.Engine Statistics.Horsepower'].quantile(0.90)]
#newdf
mpg199
#newdf['Fuel Information.Highway mpg'].quantile(0.90)

,Fuel Information.Highway mpg,Engine Information.Engine Statistics.Horsepower
102,31,190
103,31,190
104,31,190
106,31,190
107,31,190
...,...,...
5067,25,250
5068,24,250
5069,25,250
5070,24,250
5071,25,250

In [18]:
# scaler = StandardScaler()

# mpg200 = pd.DataFrame(scaler.fit_transform(mpg199), columns = mpg199.columns)
# mpg200_col = mpg200.columns
mpg201 = normalize(mpg199)
mpg202 = pd.DataFrame(mpg201, columns=mpg199.columns)
mpg202

,Fuel Information.Highway mpg,Engine Information.Engine Statistics.Horsepower
0,0.161029,0.986950
1,0.161029,0.986950
2,0.161029,0.986950
3,0.161029,0.986950
4,0.161029,0.986950
...,...,...
134,0.099504,0.995037
135,0.095561,0.995424
136,0.099504,0.995037
137,0.095561,0.995424
138,0.099504,0.995037

In [ ]:
# lets use hgrad and unem as predictors and roll as predictant
# enroll_data = mpg202[['Engine Information.Engine Statistics.Horsepower','Fuel Information.Highway mpg']].values
# target = enroll['roll'].values
# enroll_data_names = ['unem','hgrad']
# x,y = scale(enroll_data),target # scale is removing the mean value of each feature, then scale it by dividing features by their standard deviation
# model = LinearRegression(normalize=True)
# model.fit(x,y)
# print(model.score(x,y)) # score is the degree of linear correlation between data and target
x = mpg202['Engine Information.Engine Statistics.Horsepower']
y = mpg202['Fuel Information.Highway mpg']
model = LinearRegression()
xs = np.array(x).reshape(-1, 1)
ys = np.array(y).reshape(-1, 1)
model.fit(ys,x)
print(model.score(ys,xs))
#mpg202.plot.scatter(x = 'Engine Information.Engine Statistics.Horsepower', y = 'Fuel Information.Highway mpg')
plt.scatter(x,y,color="g")
plt.plot(x,model.predict(xs) )