# Week 5 handin

## Ex1 Use data from Danmarks Statistik - Databanken
1. Go to https://www.dst.dk/da/Statistik/brug-statistikken/muligheder-i-statistikbanken/api#testkonsol
2. Open 'Konsol' and click 'Start Konsol'
3. In the console at pt 1: choose 'Retrieve tables', pt 2: choose get request and json format and pt 3: execute:
  1. check the result
  2. in the code below this same get request is used to get information about all available data tables in 'databanken'. 
4. Change pt. 1 in the console to 'Retrieve data', pt 2: 'get request' and Table id: 'FOLK1A', format: csv, delimiter: semicolon and click: 'Variable and value codes' and choose some sub categories (Hint: hover over the codes to see their meaning). Finally execute and see what data you get.
5. With data aggregation and data visualization answer the following questions:
  1. What is the change in pct of divorced danes from 2008 to 2020?
  2. Which of the 5 biggest cities has the highest percentage of 'Never Married' in 2020?
  3. Show a bar chart of changes in marrital status in Copenhagen from 2008 till now
  4. Show 2 plots in same figure: 'Married' and 'Never Married' for all ages in DK in 2020 (Hint: x axis is age from 0-125, y axis is how many people in the 2 categories). Add lengend to show names on graphs

## Status
Spent too much time with 5.b. Didnt get any further.

## Solution Ex1

In [1]:
import pandas as pd
import numpy as np

divorced_between_2008and2020 = pd.read_csv('https://api.statbank.dk/v1/data/Folk1a/CSV?valuePresentation=Value&delimiter=Semicolon&CIVILSTAND=F&Tid=*', sep=';')
print('Dataframe head: ')
divorced_between_2008and2020.head()

Dataframe head:

  CIVILSTAND     TID  INDHOLD
0   Fraskilt  2008K1   428864
1   Fraskilt  2008K2   431550
2   Fraskilt  2008K3   432713
3   Fraskilt  2008K4   432156
4   Fraskilt  2009K1   434233

In [2]:
#Udregn procentvis forskel imellem 2008 og 2020
div_in_2008 = divorced_between_2008and2020.iloc[0][2]
div_in_2020 = divorced_between_2008and2020.iloc[-2][2]
print('Forskel i procent:')
print(round((div_in_2020/div_in_2008-1)*100,0),'%')

Forskel i procent:
29.0 %

In [47]:
indbyggere = pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=Value&delimiter=Semicolon&OMR%C3%85DE=*&Tid=2020K4&CIVILSTAND=TOT%2CU', sep=';')
big_cities = ['København','Odense','Aalborg','Aarhus','Esbjerg']

#Sorter på indbyggertal
hojeste_indbyggertal = indbyggere[indbyggere['OMRÅDE'].isin(big_cities)].sort_values(by='INDHOLD', ascending=False)

#Sorter ugifte fra alle andre
mask_all_status = hojeste_indbyggertal[hojeste_indbyggertal['CIVILSTAND'].isin(['I alt'])]
mask_unmarried_status = hojeste_indbyggertal[hojeste_indbyggertal['CIVILSTAND'].isin(['Ugift'])]

#Make new columns with percent of unmarried
#mask_all_status["PROCENT AF UGIFTE"] = mask_unmarried_status['INDHOLD'].to_numeric()


percent = hojeste_indbyggertal.drop(columns=['CIVILSTAND','TID'])

#percent["PROCENT AF UGIFTE"] = percent[mask_unmarried_status.iloc['INDHOLD']/mask_all_status['INDHOLD']]

#This seems to solve numeric

procent = (mask_unmarried_status.iloc[1][1]/mask_all_status.iloc[1][1])*100
print(procent)





#csv_data_1 = pd.read_csv("https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=Value&timeOrder=Descending&delimiter=Semicolon&OMR%C3%85DE=*", sep=";")
#biggest_cities = csv_data_1[~csv_data_1.OMRÅDE.str.contains('|'.join(["Region", "Hele"]))].nlargest(5, 'INDHOLD')
#biggest_cities_cut = biggest_cities[['OMRÅDE', 'INDHOLD']]

#csv_data_2 = pd.read_csv("https://api.statbank.dk/v1/data/FOLK1A/CSV?valuePresentation=Value&delimiter=Semicolon&OMR%C3%85DE=*&CIVILSTAND=U&Tid=2020K4", sep=";")
#top_5_divorced_cities = csv_data_2[csv_data_2['OMRÅDE'].isin(biggest_cities_cut['OMRÅDE'])]
#top_5_divorced_cities_cut = top_5_divorced_cities[['OMRÅDE','INDHOLD']].reindex(biggest_cities_cut.index)

#final_product = pd.DataFrame(columns=("OMRÅDE", "PROCENT"))
#for x in range(5):
#    procent = (top_5_divorced_cities_cut.iloc[x][1]/biggest_cities_cut.iloc[x][1])*100
#    final_product.loc[x] = ([biggest_cities_cut.iloc[x][0], procent])
#final_product_sorted = final_product.sort_values(by=['PROCENT'], ascending=False)

#print(final_product_sorted)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [4]:
mask_unmarried_status

        OMRÅDE     TID CIVILSTAND  INDHOLD
5    København  2020K4      Ugift   417782
169     Aarhus  2020K4      Ugift   211863
209    Aalborg  2020K4      Ugift   120226
117     Odense  2020K4      Ugift   113639
125    Esbjerg  2020K4      Ugift    55161